.container {
    margin: 0 auto;
    position: relative;
    @include mq(md) {
        max-width: $desktop - (2 * $gap);
        width: $desktop - (2 * $gap);
        &.is-fluid {
            margin-left: $gap;
            margin-right: $gap;
            max-width: none;
            width: auto;
        }
        @include mq(lg, max) {
            max-width: $widescreen - (2 * $gap);
            width: auto;
        }
        @include mq(xl, max) {
            max-width: $fullhd - (2 * $gap);
            width: auto;
        }
    }
    @include mq(lg) {
        max-width: $widescreen - (2 * $gap);
        width: $widescreen - (2 * $gap);
    }
    @include mq(xl) {
        max-width: $fullhd - (2 * $gap);
        width: $fullhd - (2 * $gap);
    }
}