@import 'variables/all';

.nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    border-right: 1px solid $grey-lighter;

    .nav__menu {
        list-style: none;
        margin: 0;
        padding: 2rem 1rem;

        > a {
            display: block;
            // width: 100%;
        }
    }
}

main {
    padding-left: 250px;
    .content {
        padding: 2rem;

        h3 {
            line-height: 1;
            margin-bottom: 1rem;
        }

        pre {
            white-space: inherit;
            background-color: #282c34;
            color: $grey-light;
            padding: 1rem;
            border-radius: $radius;
        }

        .row {
            [class^="col-"] {
                height: 2rem;
                margin-bottom: 1rem;
                &::before {
                    content: ' ';
                    display: block;
                    height: inherit;
                    background-color: $primary;
                    border-radius: $radius;
                }
                
            }
        }
    }
}

