/*
 * Helpers
 *
 * 1. Display
 * 2. Text
 * 3. Position
 * 4. Layout
 * 5. Visibility
 * 6. Other
 *
 */


/******************
 * 1. Display
 ******************/

.flex {
    display: flex;
    &.is-wrap {
        flex-wrap: wrap;
    }
    &.is-space-between {
        justify-content: space-between;
    }
    &.is-space-around {
        justify-content: space-around;
    }
    &.is-center-aligned {
        align-content: center;
    }
    &.is-top-aligned {
        align-content: flex-start;
    }
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.table-cell {
    display: table-cell;
}


/******************
 * 2. Text
 ******************/

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.strikethrough {
    text-decoration: line-through;
}

.nowrap {
    white-space: nowrap;
}

@each $size in $sizes {
    $i: index($sizes, $size);
    .size-#{$i} {
        font-size: $size !important;
    }
    .title-#{$i} {
        font-size: $size;
        font-weight: $weight-medium;
        line-height: 1.125;
        margin-top: 0;
        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }
    .subtitle-#{$i} {
        font-size: $size;
        font-weight: $weight-light;
        line-height: 1.5;
        margin-top: -1.5rem;
    }
}


/******************
 * 3. Position
 ******************/

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-none {
    float: none;
}

.clearfix {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

.clear-both {
    clear: both;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}


/******************
 * 4. Layout
 ******************/

@each $size in 1,2,3,4 {
    .margin-t#{$size} {
        @include margin($top: #{$size}rem);
    }
    .margin-b#{$size} {
        @include margin($bottom: #{$size}rem);
    }
    .margin-t#{$size}b#{$size} {
        @include margin($top: #{$size}rem, $bottom: #{$size}rem);
    }
}

.clear-margin {
    margin: 0;
}

@each $size in 1,2,3,4 {
    .padding-t#{$size} {
        @include padding($top: #{$size}rem);
    }
    .padding-b#{$size} {
        @include padding($bottom: #{$size}rem);
    }
    .padding-l#{$size} {
        @include padding($left: #{$size}rem);
    }
    .padding-r#{$size} {
        @include padding($right: #{$size}rem);
    }
    .padding-t#{$size}b#{$size} {
        @include padding($top: #{$size}rem, $bottom: #{$size}rem);
    }
    .padding-l#{$size}r#{$size} {
        @include padding($left: #{$size}rem, $right: #{$size}rem);
    }
}

.clear-padding {
    padding: 0;
}


/******************
 * 5. Visibility
 ******************/

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none;
}


/******************
 * 6. Other
 ******************/

.pointer {
    cursor: pointer;
}

.not-allowed {
    cursor: not-allowed;
}

.no-scroll {
    overflow: hidden !important;
}

@function findColorInvert($color) {
    @if colorLuminance($color)>0.55 {
        @return rgba(#000, 0.7);
    }
    @else {
        @return #fff;
    }
}